
package modules

import "github.com/tm-ox/go-datastar/internal/content"

templ Card(c content.Card) {
	<a href={ templ.URL(c.Href) } class="block border border-border p-6 bg-surface rounded">
		<h4>{ c.Title }</h4>
		<p>{ c.Description }</p>
	</a>
}
