package modules

templ Footer() {
	<footer>
		<div class="max-w-6xl mx-auto flex items-center justify-between">
			<a href="/">
				@IconBug(IconProps{Size: "24", Class: "text-accent"})
			</a>
		</div>
	</footer>
}
