package layouts

import "github.com/tm-ox/go-datastar/views/modules"

templ SubLayout(items []modules.NavItem, currentPath string, meta modules.Meta, sections []modules.NavItem, currentSection string, cartTotal int) {
	@BaseLayout(items, currentPath, meta, cartTotal) {
		<nav class="mt-16 content-width flex justify-end pr-16">
			@modules.TabBar(sections, currentSection, modules.ButtonVariantSubTabActive, modules.ButtonVariantSubTab, modules.ButtonSizeTab)
		</nav>
		{ children... }
	}
}
