package views

import (
	"github.com/tm-ox/go-datastar/internal/content"
)

templ AboutContent(page content.AboutPage) {
	<section class="min-h-screen">
		<h2>{ page.Title }</h2>
		<p>{ page.Body }</p>
	</section>
}
