package views

import (
	"github.com/tm-ox/go-datastar/internal/content"
	"github.com/tm-ox/go-datastar/views/layouts"
	"github.com/tm-ox/go-datastar/views/modules"
)

templ About(items []modules.NavItem, currentPath string, page content.AboutPage, meta modules.Meta) {
	@layouts.BaseLayout(items, currentPath, meta) {
		@AboutContent(page)
	}
}

templ AboutContent(page content.AboutPage) {
	<section class="min-h-screen">
		<h2>{ page.Title }</h2>
		<p>{ page.Body }</p>
	</section>
}
