
package views

import (
	"github.com/tm-ox/go-datastar/internal/content"
	"github.com/tm-ox/go-datastar/views/layouts"
	"github.com/tm-ox/go-datastar/views/modules"
)

templ About(items []modules.NavItem, currentPath string, page content.AboutPage, meta modules.Meta) {
	@layouts.BaseLayout(items, currentPath, meta) {
		<section>
			<h2>{ page.Title }</h2>
			<p>{ page.Body }</p>
		</section>
	}
}
