package views

import (
	"github.com/tm-ox/go-datastar/views/layouts"
	"github.com/tm-ox/go-datastar/views/modules"
)

templ NotFound(items []modules.NavItem, currentPath string, meta modules.Meta) {
	@layouts.BaseLayout(items, currentPath, meta) {
		<section>
			<h1>{ meta.Title }</h1>
			<h2 class="text-muted">{ meta.Description }</h2>
		</section>
	}
}
